<!-- Hamburger Menu -->
<div class="menu-container" id="menu-bars" (click)="Toggle()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<!-- Mobile Navigation -->
<nav class="mobile-nav" id="mobile-nav">
  <ul class="nav-items" (click)="Toggle()">
    <li style="padding-top: 48px"></li>
    <a href="#home">
      <li>Home</li>
    </a>
    <a href="#about">
      <li>The Club</li>
    </a>
    <a href="#projects">
      <li>Members</li>
    </a>
    <a href="#gallery">
      <li>Gallery</li>
    </a>
    <a href="#contact">
      <li>Contact</li>
    </a>
  </ul>
</nav>

<!-- Desktop Navigation -->
<!-- <div class="sidebar-container" (mouseover)="SidebarOn()" (mouseout)="SidebarOff()">
  <p class="sidebar-toggle" id="sidebar-toggle">Menu</p>
    <ul class="sidebar-items desktop-nav display-none" id="desktop-nav">
      <a href="#home"><li>Home</li></a>
        <a href="#about"><li>The Club</li></a>
        <a href="#projects"><li>Members</li></a>
        <a href="#gallery"><li>Gallery</li></a>
        <a href="#contact"><li>Contact</li></a>
    </ul>
</div> -->
<!-- <header class="header fixed-top">
  <a href="#"><img src="../../../assets/icons/icon-192x192.ico">
    </a>     
    <nav>
          <ul>
            <a href="#home"><li>Home</li></a>
            <a href="#gallery"><li>Gallery</li></a>
            <a href="#about"><li>The Club</li></a>
            <a href="#projects"><li>Members</li></a>
            <a href="#contact"><li>Contact</li></a>
          </ul>
     </nav>
    </header> -->
    <nav style="background-color: red; width: 100%;">
      <div>
      <h1>NEWS</h1>
    </div>
  </nav>
<nav class="navbar navbar-expand-lg navbar-default fixed-top" (scroll)="onWindowScroll($event);">
  <!-- Logo -->
  <div class="logo_container text-center">
    <div class="trans_400">
      <a href="#"><img src="../../../assets/img/PicsArt_11-05-10.13.50.png" height="150px"></a>   
    </div>
    <div class="visible">
      <h3>South Mumbai United Fc</h3>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" id="right-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#home">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT THE CLUB</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarResponsive" id="left-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#projects">MEMBERS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
    </ul>
    <div class="social-icons">
      <a href="https://www.facebook.com/SouthMumbaiUnitedFc/" target="_blank" rel="noopener">
        <fa-icon [icon]="['fab','facebook']" title="Facebook"></fa-icon>
      </a>
      <a href="https://www.instagram.com/southmumbaiunited/" target="_blank" rel="noopener">
        <fa-icon [icon]="['fab','instagram']" title="Instagram"></fa-icon>
      </a>
      <a href="https://twitter.com/fc_smu" target="_blank" rel="noopener">
        <fa-icon [icon]="['fab','twitter']" title="Twitter"></fa-icon>
      </a>
      <a href="https://www.youtube.com/channel/UCwDxrXhDmDHehSDbo76RWCg" target="_blank" rel="noopener">
        <fa-icon [icon]="['fab','youtube']" title="Youtube"></fa-icon>
      </a>

    </div>
  </div>
</nav>